.clr-gray{
  /* background-color: rgb(240, 240, 240) !important;
   */
   border: none;
   border-radius: 0px;
}

.clr-white{
  background-color: white !important;
  width: 100%;
}


@media screen and (max-width: 420px) {
  .comments-container {
    display: flex;
    flex-direction: column; 
  }
}
